* {
    text-align: center;
    margin: 0px;
    box-sizing: border-box;
}



.jobdefiniation {
    width: 100%;
    padding: 8px;
    text-align: start;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-element {
    width: 100%;
}

.contact-list {
    display: flex;
    padding: 6px 0px;
    list-style-type: none;
    margin: 15px 0px;
    background-color: rgba(248, 248, 248, 0.675);
    height: 72px;
    border-radius: 8px;
    border: 1px solid rgba(237, 237, 237, 0.993);
}

.contact-list li {
    padding: 0px 8px;
}

.contact-list__checkbox {
    width: 20px;
    /* Genişlik ayarı */
    height: 20px;
    /* Yükseklik ayarı */
}

.app {
    width: 30%;
    margin: 24px auto;
}

.strikethrough {
    text-decoration: line-through;
    color: gray;
}

.app__control-panel {
    display: flex;
}

.normal-button {
    background-color: #007bff;
    margin: 0px 5px;
    border: none;
    padding: 9px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.header-title {
    color: #007bff;
    padding: 28px;
}

@media screen and (max-width:768px) {
    .app {
        width: 100%;
    }

}

@media screen and (max-width:992px) {
    .app {
        width: 100%;
    }

}