* {
    margin: 0px;
    box-sizing: border-box;
}


.form-element {
    width: 90%;
}

.list-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}


.contact-list {
    column-gap: 5px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 6px 0px;
    list-style-type: none;
    margin: 15px 0px;
    background-color: rgba(248, 248, 248, 0.675);
    height: auto;
    border-radius: 8px;
    border: 1px solid rgba(237, 237, 237, 0.993);
}

.completed {
    color: #32ff7e;
    width: 8%;

}

.job-title {
    padding-right: 20px;
    padding-left: 4px;
    width: 90%;
    /* Maksimum genişlik ayarı */
    word-wrap: break-word;
    /* Kelimeleri kır ve sığdır */


}

.contact-list__checkbox {
    grid-area: 1/1/2/2;
    width: 20px;
    margin-left: 5px;
    height: 20px;
}

.jobdefiniation {
    width: 100%;
    padding: 8px;
    text-align: start;
    border-radius: 5px;
    border: 1px solid gray;
}

.app {
    width: 30%;
    margin: 24px auto;
}

.strikethrough {
    text-decoration: line-through;
    color: gray;
}

.app__control-panel {
    display: flex;
    width: 100%;
}

.normal-button {
    background-color: #dc3545;
}

.normal-button,
.show-all,
.show-completed,
.show-uncompleted {
    margin: 0px 2px;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.normal-button:hover {
    background-color: #bd2130;
}

.header-title {
    color: #007bff;
    padding: 28px;
    text-align: center;
}

.button-container {
    width: 90%;
    margin: 12px 0px;
}

.button-container>button {
    margin: 3px;
}

.show-all {
    background-color: #007bff;
}

.show-all:hover {
    background-color: #006cdf;
}

.show-completed {
    background-color: #32ff7e;
}

.show-completed:hover {
    background-color: #2cdc6c;
}

.show-uncompleted {
    background-color: #ffc107;
}

.show-uncompleted:hover {
    background-color: #e0a800;
}





.footer {
    background-color: rgba(220, 220, 220, 0.473);
    color: rgba(255, 255, 255, 0.781);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    /* Footer arkaplan rengi */
    /* Footer metin rengi */
    text-align: center;
    padding: 8px;
    /* Metin ortalaması */
}

.footer-link {
    color: rgba(255, 255, 255, 0.781);
    font-weight: bold;
    text-decoration: none;
}

.footer-link:hover {

    color: #fff;
}

.number-of-jobs {
    text-align: center;
    width: 90%;
}



@media screen and (max-width:320px) {
    .app {
        width: 90%;
    }

}

@media screen and (max-width:768px) {
    .app {
        width: 90%;
    }

}